.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  margin-top: 118px;
  width: 1184px;
  height: 442px;
  opacity: 1;
  padding-left: 48px;
}

.photo-grid .grid-item {
  border-radius: 2px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
} */

.photo-grid img {
  width: 100%;
  height: 213px;
  object-fit: cover;
  display: block;
  border-radius: 2px;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}
