.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  margin-top: 118px;
  width: 1184px;
  height: 442px;
  padding-left: 48px;
  border-radius: 2px;
}

.grid-item {
  width: 284px;
  height: 213px;
}

.photo-grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2px;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    max-width: 720px;
    min-height: 1104px;
    padding-left: 24px;
    margin-top: 64px;
  }

  .grid-item {
    width: 352px;
    height: 264px;
  }
}

@media (max-width: 544px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, auto);
    max-width: 288px;
    min-height: 1812px;
    padding-left: 16px;
    margin-top: 38px;
    gap: 12px;
  }

  .grid-item {
    width: 288px;
    height: 216px;
  }
}
